
.exp_back{
  margin-top: 75px;
  display: flex;
  justify-content: center;
  height: 25vh;
  
}

/* typewritier */
.type_writer_container{ 
  display: inline-block;
  margin-bottom: 20px;
}

.type_writer_text.hidden{
  font-size: 4em;
  letter-spacing: 15px;
  font-family: monospace;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  color: black;
  
}
/* steps must be the same amount of text including whitespace */
/* cursor blink */
.type_writer_text.show{
  animation: 
      typing .8s steps(13),
      cursor .4s step-end infinite alternate;
  opacity: 1;
}
@keyframes cursor {
  50% {border-color: transparent}
}
@keyframes typing{
  from {width: 0}
}




