
.exp_back{
  margin-top: 75px;
  display: flex;
  justify-content: center;
  height: 100vh;
}

/* typewritier */
.type_writer_container{ 
  display: inline-block;
}

.type_writer_text.hidden{
  font-size: 5em;
  letter-spacing: 15px;
  font-family: monospace;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  
  
}
/* steps must be the same amount of text including whitespace */
/* cursor blink */
.type_writer_text.show{
  animation: 
      typing .8s steps(13),
      cursor .4s step-end infinite alternate;
  opacity: 1;
}
@keyframes cursor {
  50% {border-color: transparent}
}
@keyframes typing{
  from {width: 0}
}
/* Cards */ 
.card {
  width: 90%;
  height: 50%;
  background: rgb(211, 231, 255);
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px  rgba(95, 95, 95, 0.705);
  font-size: 30px;
  font-weight: 900;
}

.card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
  background: rgb(71, 129, 255);
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.3rem;
  transform: rotate(0deg);
}
